$def with (page)

$code:
    def column_head(get):
        col_option = (
                ( 'title', 'Title', 'off', ),
                ( 'year', 'Year', 'on', ),
                ( 'rating', 'Rating', 'on', ),
                ( 'votes', 'Votes', 'on', ),
                ( 'mtime', 'Modified', 'on', ),
                )
        head = []
        for key, title, opt in col_option:
            if key == get.sort:
                desc = ('on', 'off')[get.desc == 'on']
            else:
                desc = opt
            head.append((title, '?sort=%s&desc=%s&layout=%s' % (key, desc, get.layout)))
        return head

$ num_cols = 4

<div><a href="/">Home</a></div>
<div>$len(page['list']) title$(('', 's')[len(page['list'])>1])</div>
$for title, href in column_head(page['get']):
    <a href="$href">$title</a>$((' | ', '')[loop.last])
<table>
$for row in range(len(page['list'])/num_cols+1):
    <tr>
    $for idx in range(row*num_cols, (row+1)*num_cols):
        <td>
        $if idx < len(page['list']):
            $ movie = page['list'][idx]
            <div align="center">
            <a href="/m/$movie['ID']">
            <img src="/static/cover_small/$(movie['ID']).jpg" />
            <div>$movie['title']</div>
            </a>
            </div>
        $else:
            &nbsp;
        </td>
    </tr>
</table>
