$def with (page)

$code:
    def column_head(get):
        col_option = (
                ( 'title', 'Title', '0', ),
                ( 'year', 'Year', '1', ),
                ( 'rating', 'Rating', '1', ),
                ( 'votes', 'Votes', '1', ),
                ( 'mtime', 'Modified', '1', ),
                )
        head = []
        for key, title, opt in col_option:
            arrow = ''
            if key == get.s:
                desc = ('1', '0')[get.d == '1']
                arrow = ('&uArr;', '&dArr;')[get.d == '1']
            else:
                desc = opt
            head.append(('%s %s' % (title, arrow), '?s=%s&d=%s&v=%s' % (key, desc, get.v)))
        return head

$ num_cols = 4

<div><a href="/">Home</a></div>
<div><a href="?s=$page['get'].s&d=$page['get'].d&v=l">List</a></div>
<div>$len(page['list']) title$(('', 's')[len(page['list'])>1])</div>
$for title, href in column_head(page['get']):
    <a href="$href">$:title</a>$((' | ', '')[loop.last])
<table>
$for row in range(len(page['list'])/num_cols+1):
    <tr>
    $for idx in range(row*num_cols, (row+1)*num_cols):
        <td>
        $if idx < len(page['list']):
            $ movie = page['list'][idx]
            <div align="center">
            <a href="/m/$movie['ID']">
            <img src="/static/cover_small/$(movie['ID']).jpg" />
            </a>
            <div>$movie['title']</div>
            <div>
            $if page['get'].s == 'year':
                ($movie['year'])
            $elif page['get'].s == 'rating':
                $if 'rating' in movie:
                    $('%3.1f/10' % movie['rating'])
                $else:
                    -
            $elif page['get'].s == 'votes':
                $if 'votes' in movie:
                    $movie['votes'] vote$(('s', '')[movie['votes'] == 1])
                $else:
                    -
            $elif page['get'].s == 'mtime':
                $movie['mtime']
            </div>
            </div>
        $else:
            &nbsp;
        </td>
    </tr>
</table>
