$def with (page)

$code:
    def desc_option(col, get):
        if col == get.sort:
            if get.desc == 'off':
                return 'on'
            else:
                return 'off'
        else:
            if col == 'title':
                return 'off'
            elif col == 'year':
                return 'on'
            elif col == 'rating':
                return 'on'
            elif col == 'votes':
                return 'on'
            elif col == 'mtime':
                return 'on'

<div>$len(page['data'])</div>
<table>
    <thead>
    <tr>
        <td><a href="/l?sort=title&desc=$desc_option('title', page['get'])">Title</a></td>
        <td><a href="/l?sort=year&desc=$desc_option('year', page['get'])">Year</a></td>
        <td><a href="/l?sort=rating&desc=$desc_option('rating', page['get'])">Rating</a></td>
        <td><a href="/l?sort=votes&desc=$desc_option('votes', page['get'])">Votes</a></td>
        <td><a href="/l?sort=mtime&desc=$desc_option('mtime', page['get'])">Modified</a></td>
    </tr>
    </thead>
<tbody>

$for movie in page['data']:
    <tr>
    <td><a href="/m$movie['ID']">$movie['title']</a></td>
    <td>($movie['year'])</td>
    <td>$('%3.1f' % movie['rating'])</td>
    <td>$movie['votes']</td>
    <td>$movie['mtime']</td>
    </tr>

</tbody>
</table>
