$def with (page)

$code:
    def column_head(get):
        col_option = (
                ( 'title', 'Title', 'off', ),
                ( 'year', 'Year', 'on', ),
                ( 'rating', 'Rating', 'on', ),
                ( 'votes', 'Votes', 'on', ),
                ( 'mtime', 'Modified', 'on', ),
                )
        head = []
        for key, title, opt in col_option:
            if key == get.sort:
                desc = ('on', 'off')[get.desc == 'on']
            else:
                desc = opt
            head.append((title, '/l?sort=%s&desc=%s' % (key, desc)))
        return head

<div>$len(page['list']) title$(('', 's')[len(page['list'])>1])</div>
<table>
<thead>
<tr>
$for title, href in column_head(page['get']):
    <td><a href="$href">$title</a></td>
</tr>
</thead>
<tbody>
$for movie in page['list']:
    <tr>
    <td><a href="/m/$movie['ID']">$movie['title']</a></td>
    <td>($movie['year'])</td>
    <td>
    $if 'rating' in movie:
        $('%3.1f' % movie['rating'])
    $else:
        -
    </td>
    <td>
    $if 'votes' in movie:
        $movie['votes']
    $else:
        -
    </td>
    <td>$movie['mtime']</td>
    </tr>
</tbody>
</table>
