$def with (movie)

$def person_csv(plist):
    $for person in plist:
        <a href="/p/$person['ID']">$person['str']</a>$((', ', '')[loop.last])

$def person_list(plist):
    $for person in plist:
        <div><a href="/p/$person['ID']">$person['str']</a></div>

$def person_section(sec, title, style='csv'):
    $if movie.get(sec, None):
        $if style == 'csv':
            <div>$title
            $:person_csv(movie[sec])
            </div>
        $elif style == 'list':
            <div>$title</div>
            $:person_list(movie[sec])

$def keyword_bsv(klist, base):
    $for keyword in klist:
        <a href="$base/$keyword">$keyword</a>$((' | ', '')[loop.last])

$def keyword_section(sec, title, base):
    $if movie.get(sec, None):
        <div>$title
        $:keyword_bsv(movie[sec], base)
        </div>
        
<div><a href="/">Home</a></div>
$if 'cover url' in movie:
    <a href="/static/cover_full/$(movie['ID']).jpg"><img src="/static/cover_small/$(movie['ID']).jpg" style="float:left;"/></a>
<div>$movie['title'] ($movie['year'])</div>
<div><a href="http://www.imdb.com/title/tt$movie['ID']/">IMDb</a></div>

$:keyword_section('genres', 'Genre:', '/g')

<div>
$if 'rating' in movie and 'votes' in movie:
    $('%3.1f' % movie['rating']) ($movie['votes'] votes)
</div>
$if 'top 250 rank' in movie:
    <div>Top 250: <a href="/top250">#$movie['top 250 rank']</a></div>

$if 'plot outline' in movie:
    <div>$movie['plot outline']</div>

$:person_section('director', 'Director:', 'csv')
$:person_section('writer', 'Writer:', 'csv')
$:person_section('producer', 'Producer:', 'csv')
$:person_section('cast', 'Cast:', 'list')

$:keyword_section('countries', 'Country:', '/c')
$:keyword_section('languages', 'Language:', '/l')

<div>Location:</div>
$for item in movie['item']:
    <hr />
    <div>$item['dirpath']</div>
    $for file in item['file']:
        <div>$file['path']</div>
        <div>Duration: $file['info']['duration']</div>
        $for line in file['info']['stream']:
            <div>$line</div>
        <div><img src="/static/snapshot/$file['snapshot']" /></div>
