$def with (person)

$var title: BigoDB - $person['name']

$def movie_list(mlist):
    $for movie in mlist:
        <div><a href="/m/$movie['ID']">$movie['title'] ($movie['year'])</a></div>

$def movie_section(sec, title):
    $if person.get(sec, None):
        <div>$title</div>
        $:movie_list(person[sec])

<div><a href="/">Home</a> | <a href="/top250">Top 250</a></div>
<div>$person['name']</div>
<div><a href="http://www.imdb.com/name/nm$person['ID']/">IMDb</a></div>

$:movie_section('director', 'Director:')
$:movie_section('writer', 'Writer:')
$:movie_section('producer', 'Producer:')
$:movie_section('cast', 'Cast:')
